@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
*{
    text-decoration: none; /*tira decorações de texto*/
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);

}
.cabecalho{
    display: flex; /* chamando o flexbox*/
    flex-direction: row; /* direção da esquerda para a direita*/
    justify-content: space-around ; /*Forma de espaçamento*/
    padding: 24px; /*distancia do conteudo ate a borda*/
    align-items: center;
}

.cabecalho-imagem{
    height: 62px;  /*tamanho da imagem*/
}

.cabecalho-menu{
    display: flex;  /* chamando o flexbox*/
    gap: 32px;  /*distancia entre os intens do menu*/
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
}

.conteudo{
    border-top: 0.4px solid #FFF2E7 ; /* Borda marcando o começo do conteudo*/
    margin-bottom: 48px; /*margem que dividi o main conteudo do footer*/
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center; /* alinha o conteudo no centro da div*/
    justify-content: space-around;
}

.conteudo-pricipal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 24px
}

.conteudo-principal-escrito-botao{
    border-radius:  20px; /*Para deixar a borda redonda*/
    border: none; /*para tirar as bordas*/
    box-shadow: 4px 5px 4px 0px #00000040; /*Sombra do botao*/
    width: 185px; /*largura*/
    height: 67px;/*altura*/
    background: #ECD6C4; /* cor de fundo*/

    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-weight: 400;
    font-size: 24px

}

.conteudo-principal-escrito-botao:hover { /*para mudar a cor do botao quando passar o mouse por cima*/
    background-color: rgba(236, 214, 196, 0.53);
  }

.conteudo-pricipal-img{
    height: 430;
}

.conteudo-segundario{
    
    margin-top: 48px; /*margim para separar o texto da imagem do robo*/
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

}

.conteudo-segundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px; /*distancia do conteudo para a margem*/
    margin-bottom: 16px; /*aumentando a margem */
border-top: 0.4px solid #FFF2E7 ;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-segundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 18px

}

.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7 ;
}

.rodape-imagem{
    height: 48px;
    display: block; /*  forma para centralizar o conteudo*/
    margin: 0 auto;
}